.btn {
  cursor: pointer;
  font-size: 40px;
  color: #fff;
  transition: all 0.8s;
  &:hover {
    color: rgb(195, 195, 195);
  }
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;

  color: #fff;
}
.wrapper span {
  font-size: 30px;
}
